* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;


}

div.game-board {
  display: flex;
  justify-content: center;
  align-items: center;

}

div.player-grid {
  width: 160px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}

div.player-grid div, div.code div {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: yellow;
}

div.empty-space {
  background-image: url('../assets/dot.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

div.result-grid {
  width: 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

div.result-space {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  background-color: teal;
  background-image: url('../assets/dot.png');
  background-size: 15px;
  background-position: center;

}

div img {
  width: 40px;
  height: 40px;
}

div.colors {
  width: 160px;
  display: flex;
  flex-wrap: wrap;

}

.wrapper {
  display: flex;
}

.code {
  width: 160px;
  height: 40px;
  margin-right: 40px;
  display: flex;
}

div.red {
  background-image: url('../assets/red.png');
  background-size: 40px;
}

div.orange {
  background-image: url('../assets/orange.png');
  background-size: 40px;
}

div.teal {
  background-image: url('../assets/teal.png');
  background-size: 40px;
}

div.yellow {
  background-image: url('../assets/yellow.png');
  background-size: 40px;
}

div.grey {
  background-image: url('../assets/grey.png');
  background-size: 40px;
}

div.green {
  background-image: url('../assets/green.png');
  background-size: 40px;
}

div.pink {
  background-image: url('../assets/pink.png');
  background-size: 40px;
}

div.purple {
  background-image: url('../assets/purple.png');
  background-size: 40px;
}

